name: On Release Workflow

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fetch git tags
        run: git fetch --tags

      - name: Version consistency check
        run: ./contrib/check-version.sh

      # Buildx Needs QEMU
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # We use Buildx so we can take advantage of the caching
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          tags: |
            ghcr.io/gubernator-io/gubernator:${{ github.event.release.tag_name }}
            ghcr.io/gubernator-io/gubernator:latest
          build-args: |
            VERSION=${{ github.event.release.tag_name }}
          platforms: linux/amd64,linux/arm64
          pull: true
          push: true

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with: 
          charts_dir: "./contrib/charts"
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
